[defaults]
inventory = inventory/hosts.ini
roles_path = roles
host_key_checking = True
ssh_args = -o StrictHostKeyChecking=accept-new -o IdentitiesOnly=yes
interpreter_python = auto
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .facts
local_tmp = .ansible/tmp
